.text-reader {
    height: 140px;
    
    .text-contaner {
        height: 60px;
        margin: 20px;
        text-align: justify;
        font-size: medium;
    }

    .text-controle {
        height: 10px;
        width: 100%;
        text-align: right;
    }
}
