<mat-grid-list cols="4">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="wrap">
            <app-excel-reader></app-excel-reader>

            <div class="control-buttons">
                <button id="record" (click)="startRecording()">Start</button>
                <button #stopButton id="stop" (click)="stopRecording()">Stop/Play/Download</button>
                <button id="play" (click)="playRecording()">Play</button>
                <button id="reset" (click)="resetRecorder()">Reset</button>
            </div>

            <app-timer></app-timer>

            <audio controls [src]="audioUrl"></audio>

            <div>
                <button (click)="increment()">Increase</button>
                <button (click)="decrease()">Decrease</button>
            </div>
        </div>
    </mat-grid-tile>
    <!-- <mat-grid-tile [colspan]="1" [rowspan]="2">2
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">3
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">4
        </mat-grid-tile> -->
</mat-grid-list>