.wrap {
    align-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    // .progress-bar-container {
    //     display: flex;
    //     align-content: center;
    //     align-items: center;
    //     text-align: center;
    //     height: 60px;
    //     width: 400px;
    //     margin-right: 1px;
    //     .mat-progress-bar {
    //         display: flex;
    //         align-content: center;
    //         text-align: center;
    //         align-items: center;
    //         width: 300px;
    //         padding-top: 5px;
    //         padding-bottom: 5px;
    //     }
    // }
}
