<div class="wrap">
    <p>read-aloud works!</p>

    <div class="control-buttons">
        <button id="record" (click)="startRecording()">Start</button>
        <button #stopButton id="stop" (click)="stopRecording()">Stop/Play/Download</button>
        <button id="play" (click)="playRecording()">Play</button>
        <button id="reset" (click)="resetRecorder()">Reset</button>
    </div>

    <app-timer></app-timer>

    <audio controls [src]="audioUrl"></audio>

    <div>
        <button (click)="increment()">Increase</button>
        <button (click)="decrease()">Decrease</button>
    </div>
</div>