.timer {
    align-content: center;
    margin: 0px;
    .progress-bar-container-wrapper {
        width: 100%;
        text-align: center;
        .progress-bar-container {
            align-content: center;
            text-align: center;
            display: inline-block;
            width: 500px;
        }
    }
}
