.timer {
    align-content: center;
    margin: 0px;
    .progress-bar-container-top {
        text-align: center;
        align-content: center;
        // padding-left: 50px;
        .progress-bar-container {
            width: 500px;
            // margin: 0px;
            align-content: center;
            text-align: center;
        }
    }
}
